{
  "node": true,
  "esversion": 6,
  "browser": false,
  "devel": true,
  "nomen": true,
  "regexp": true,
  "strict": false,
  "plusplus": true,
  "white": false,
  "indent": 4, // Change to 4 for tab indentation
  "maxlen": 120,
  "camelcase": true,
  "eqeqeq": true,
  "forin": true,
  "newcap": true,
  "quotmark": "single",
  "undef": true,
  "unused": true,
  "varstmt": false, // Allow multiple var statements per function
  "predef": [
    "require", // Add "require" to predef
    "module",
    "exports",
    "process",
    "__dirname",
    "__filename"
  ]
}